doctype html
html
    head
        title.head-title Calendar page
    body
        h1.body-h1 I'm calendar!
        button.back-btn Go back
        div.calendar

script(src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.6/index.global.min.js')
script(src='js/calendar/cal-view.js')
script(src='js/calendar/calendar.js')
