doctype html
html
    head
        title.head-title Camera page
        link(rel=stylesheet, href='css/camera.css')
    body
        h1.body-h1 I'm camera!
        button.back-btn Go back
        button.camera-btn Start camera
        div
            video.video
        
script(src='js/camera/camera.js')
script(src='js/camera/cam-view.js')