doctype html
html
    head
        title I'm a Pug site!
        link(rel='stylesheet', href='css/style.css')
    body
        h1 I'm h1!
        p I'm a paragraph!
        .modal
            .modal-content
                span.close &times;
                p Hello, world!

script(src='js/modal.js')