doctype html
html
    head
        title.head-title I'm a Pug site!
        link(rel='stylesheet', href='css/index.css')
    body
        h1.body-h1 I'm h1!
        p.body-p I'm a paragraph!
        .modal
            .modal-content
                span.close &times;
                p.modal-text I'm a modal!
        div
            button.lang-btn Change language
            .lang-content 
                a(href='#', class="korean-btn") Korean
                br
                a(href='#', class="english-btn") English
        div        
            button.cal-btn Go to calendar
        
script(src='js/index/index.js')
script(src='js/index/modal.js')
script(src='js/index/lang-change.js')